body,
html {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#box {
    display:flex;
    border: 5px solid black;
    width: 900px;
    height: 900px;
    flex-direction: column;
}

.row {
    display: flex;
    border: 0.5px solid black;
    width: 100%;
    flex: 1;

}

.square {
    border: 1px solid black;
    flex: 1;
    height: 100%;
}

#color-selection {
    display: flex;
    gap: 10px;
}

#color-selection button {
    padding: 30px;
    width: 100px;
    height: 25px;
    color: red;
    padding-bottom: 40px;
}

